---
import evalFunction from '../wizards/evalFunction'
export interface Props {
    /**
     * @param options Astronic.Carousel options.
     * @param options.id The carousel uniq ID.
     * @param options.mode Default: `"carousel"`. Controls animation behaviour.
     * With `carousel` everything slides to the side, while `gallery` uses fade animations and changes all slides at once.
     * @param options.axis Default: `"horizontal"`. The axis of the carousel.
     * @param options.items Default: `1`. Number of slides being displayed in the viewport. If slides less or equal than `items`,
     * the carousel won't be initialized.
     * @param options.gutter Default: `0`. Space between slides (in "px").
     * @param options.edgePadding Default: `0`. Space on the outside (in "px").
     * @param options.fixedWidth Default: `false`. Controls `width` attribute of the slides.
     * @param options.autoWidth Default: `false`. If `true`, the width of each slide will be its natural width as a `inline-block` box.
     * @param options.viewportMax Default: `false`. Maximum viewport width for `fixedWidth`/`autoWidth`.
     * @param options.slideBy Default: `1`. Number of slides going on one "click".
     * @param options.center Default: `false`. Center the active slide in the viewport.
     * @param options.controls Default: `true`. Controls the display and functionalities of `controls` components (prev/next buttons).
     * If `true`, display the `controls` and add all functionalities. For better accessibility, when a prev/next button is focused,
     * user will be able to control the carousel using left/right arrow keys.
     * @param options.controlsPosition Default: `"top"`. Controls `controls` position.
     * @param options.controlsText Default: `["prev", "next"]`. Text or markup in the prev/next buttons.
     * @param options.controlsContainer Default: `false`. The container element/selector around the prev/next buttons.
     * `controlsContainer` must have at least 2 child elements.
     * @param options.prevButton Default: `false`. Customized previous buttons. This option will be ignored if
     * `controlsContainer` is a Node element or a CSS selector.
     * @param options.nextButton Default: `false`. Customized next buttons. This option will be ignored if
     * `controlsContainer` is a Node element or a CSS selector.
     * @param options.nav Default: `true`. Controls the display and functionalities of `nav` components (dots). If `true`,
     * display the `nav` and add all functionalities.
     * @param options.navPosition Default: `"top"`. Controls `nav` position.
     * @param options.navContainer Default: `false`. The container element/selector around the dots.
     * `navContainer` must have at least same number of children as the slides.
     * @param options.navAsThumbnails Default: `false`. Indicate if the dots are thumbnails. If `true`, they will
     * always be visible even when more than 1 slides displayed in the viewport.
     * @param options.arrowKeys Default: `false`. Allows using arrow keys to switch slides.
     * @param options.speed Default: `300`. Speed of the slide animation (in "ms").
     * @param options.autoplay Default: `false`. Toggles the automatic change of slides.
     * @param options.autoplayPosition Default: `"top"`. Controls `autoplay` position.
     * @param options.autoplayTimeout Default: `5000`. Time between 2 `autoplay` slides change (in "ms").
     * @param options.autoplayDirection Default: `"forward"`. Direction of slide movement
     * (ascending/descending the slide index).
     * @param options.autoplayText Default: `["start", "stop"]`. Text or markup in the autoplay start/stop button.
     * @param options.autoplayHoverPause Default: `false`. Stops sliding on mouseover.
     * @param options.autoplayButton Default: `false`. The customized autoplay start/stop button or selector.
     * @param options.autoplayButtonOutput Default: `true`. Output `autoplayButton` markup when `autoplay` is true
     * but a customized `autoplayButton` is not provided.
     * @param options.autoplayResetOnVisibility Default: `true`. Pauses the sliding when the page is invisible
     * and resumes it when the page become visiable again.
     * @param options.animateIn Default: `"tns-fadeIn"`. Name of intro animation class.
     * @param options.animateOut Default: `"tns-fadeOut"`. Name of outro animation class.
     * @param options.animateNormal Default: `"tns-normal"`. Name of default animation class.
     * @param options.animateDelay Default: `false`. Time between each gallery animation (in "ms").
     * @param options.loop Default: `true`. Moves throughout all the slides seamlessly.
     * @param options.rewind Default: `false`. Moves to the opposite edge when reaching the first or last slide.
     * @param options.autoHeight Default: `false`. Height of carousel container changes according to each slide's height.
     * @param options.responsive Default: `false`. Defines options for different viewport widths.
     * @param options.lazyload Default: `false`. Enables lazyloading images that are currently not viewed, thus saving bandwidth.
     * Class `.tns-lazy-img` need to be set on every image you want to lazyload if option `lazyloadSelector` is not specified;
     * `data-src` attribute with its value of the real image `src` is required;
     * `width` attribute for every image is required for `autoWidth` carousel.
     * @param options.lazyloadSelector Default: `".tns-lazy-img"`. The CSS selector for lazyload images.
     * @param options.touch Default: `true`. Activates input detection for touch devices.
     * @param options.mouseDrag Default: `false`. Changing slides by dragging them.
     * @param options.swipeAngle Default: `15`. Swipe or drag will not be triggered if the angle is not inside the range.
     * @param options.preventActionWhenRunning Default: `false`. Prevent next transition while carousel is transforming.
     * @param options.preventScrollOnTouch Default: `false`. Prevent page from scrolling on touchmove.
     * If set to "auto", the carousel will first check if the touch direction matches the carousel axis, then decide whether
     * prevent the page scrolling or not. If set to "force", the carousel will always prevent the page scrolling.
     * @param options.nested Default: `false`. Define the relationship between nested carousels.
     * Make sure you run the inner carousel first, otherwise the height of the inner carousel container will be wrong.
     * @param options.freezable Default: `true`. Indicate whether the carousel will be frozen
     * (controls, nav, autoplay and other functions will stop work) when all slides can be displayed in one page.
     * @param options.disable Default: `false`. Disable carousel.
     * @param options.startIndex Default: `0`. The initial `index` of the carousel.
     * @param options.onInit Default: `false`. Callback to be run on initialization.
     * @param options.useLocalStorage Default: `true`. Save browser capability variables to localStorage
     * and without detecting them everytime the carousel runs if set to true.
     * @param options.nonce Default: `false`. Optional Nonce attribute for inline style tag to allow carousel usage
     * without `unsafe-inline Content Security Policy source.
     */
    options: {
        /** The carousel uniq ID. */
        id: string,
        /** Default: `"carousel"`. Controls animation behaviour.
         * With `carousel` everything slides to the side, while `gallery` uses fade animations and changes all slides at once. */
        mode?: 'carousel' | 'gallery',
        /** Default: `"horizontal"`. The axis of the carousel. */
        axis?: 'horizontal' | 'vertical',
        /** Default: `1`. Number of slides being displayed in the viewport. If slides less or equal than `items`,
         * the carousel won't be initialized. */
        items?: number,
        /** Default: `0`. Space between slides (in "px"). */
        gutter?: number,
        /** Default: `0`. Space on the outside (in "px"). */
        edgePadding?: number,
        /** Default: `false`. Controls `width` attribute of the slides. */
        fixedWidth?: number | false,
        /** Default: `false`. If `true`, the width of each slide will be its natural width as a `inline-block` box. */
        autoWidth?: boolean,
        /** Default: `false`. Maximum viewport width for `fixedWidth`/`autoWidth`. */
        viewportMax?: number | false,
        /** Default: `1`. Number of slides going on one "click". */
        slideBy?: number | 'page',
        /** Default: `false`. Center the active slide in the viewport. */
        center?: boolean,
        /** Default: `true`. Controls the display and functionalities of `controls` components (prev/next buttons).
         * If `true`, display the `controls` and add all functionalities. For better accessibility, when a prev/next button is focused,
         * user will be able to control the carousel using left/right arrow keys. */
        controls?: boolean,
        /** Default: `"top"`. Controls `controls` position. */
        controlsPosition?: 'top' | 'bottom',
        /** Default: `["prev", "next"]`. Text or markup in the prev/next buttons. */
        controlsText?: [string, string],
        /** Default: `false`. The container element/selector around the prev/next buttons.
         * `controlsContainer` must have at least 2 child elements. */
        controlsContainer?: Node | string | false,
        /** Default: `false`. Customized previous buttons. This option will be ignored if
         * `controlsContainer` is a Node element or a CSS selector. */
        prevButton?: Node | string | false,
        /** Default: `false`. Customized next buttons. This option will be ignored if
         * `controlsContainer` is a Node element or a CSS selector. */
        nextButton?: Node | string | false,
        /** Default: `true`. Controls the display and functionalities of `nav` components (dots). If `true`,
         * display the `nav` and add all functionalities. */
        nav?: boolean,
        /** Default: `"top"`. Controls `nav` position. */
        navPosition?: 'top' | 'bottom',
        /** Default: `false`. The container element/selector around the dots.
         * `navContainer` must have at least same number of children as the slides. */
        navContainer?: Node | string | false,
        /** Default: `false`. Indicate if the dots are thumbnails. If `true`, they will
         * always be visible even when more than 1 slides displayed in the viewport. */
        navAsThumbnails?: boolean,
        /** Default: `false`. Allows using arrow keys to switch slides. */
        arrowKeys?: boolean,
        /** Default: `300`. Speed of the slide animation (in "ms"). */
        speed?: number,
        /** Default: `false`. Toggles the automatic change of slides. */
        autoplay?: boolean,
        /** Default: `"top"`. Controls `autoplay` position. */
        autoplayPosition?: 'top' | 'bottom',
        /** Default: `5000`. Time between 2 `autoplay` slides change (in "ms"). */
        autoplayTimeout?: number,
        /** Default: `"forward"`. Direction of slide movement (ascending/descending the slide index). */
        autoplayDirection?: 'forward' | 'backward',
        /** Default: `["start", "stop"]`. Text or markup in the autoplay start/stop button. */
        autoplayText?: [string, string],
        /** Default: `false`. Stops sliding on mouseover. */
        autoplayHoverPause?: boolean,
        /** Default: `false`. The customized autoplay start/stop button or selector. */
        autoplayButton?: Node | string | false,
        /** Default: `true`. Output `autoplayButton` markup when `autoplay` is true
         * but a customized `autoplayButton` is not provided. */
        autoplayButtonOutput?: boolean,
        /** Default: `true`. Pauses the sliding when the page is invisible
         * and resumes it when the page become visiable again. */
        autoplayResetOnVisibility?: boolean,
        /** Default: `"tns-fadeIn"`. Name of intro animation class. */
        animateIn?: string,
        /** Default: `"tns-fadeOut"`. Name of outro animation class. */
        animateOut?: string,
        /** Default: `"tns-normal"`. Name of default animation class. */
        animateNormal?: string,
        /** Default: `false`. Time between each gallery animation (in "ms"). */
        animateDelay?: number | false,
        /** Default: `true`. Moves throughout all the slides seamlessly. */
        loop?: boolean,
        /** Default: `false`. Moves to the opposite edge when reaching the first or last slide. */
        rewind?: boolean,
        /** Default: `false`. Height of carousel container changes according to each slide's height. */
        autoHeight?: boolean,
        /** Default: `false`. Defines options for different viewport widths. */
        responsive?: {
            [key: Number]: {
                /** Default: `0`. The initial `index` of the carousel. */
                startIndex?: Number,
                /** Default: `1`. Number of slides being displayed in the viewport. If slides less or equal than `items`,
                 * the carousel won't be initialized. */
                items?: Number,
                /** Default: `1`. Number of slides going on one "click". */
                slideBy?: Number | 'page',
                /** Default: `300`. Speed of the slide animation (in "ms"). */
                speed?: Number,
                /** Default: `false`. Height of carousel container changes according to each slide's height. */
                autoHeight?: Boolean,
                /** Default: `false`. Controls `width` attribute of the slides. */
                fixedWidth?: Number | false,
                /** Default: `0`. Space on the outside (in "px"). */
                edgePadding?: Number,
                /** Default: `0`. Space between slides (in "px"). */
                gutter?: Number,
                /** Default: `false`. Center the active slide in the viewport. */
                center?: Boolean,
                /** Default: `true`. Controls the display and functionalities of `controls` components (prev/next buttons).
                 * If `true`, display the `controls` and add all functionalities. For better accessibility, when a prev/next button is focused,
                 * user will be able to control the carousel using left/right arrow keys. */
                controls?: Boolean,
                /** Default: `["prev", "next"]`. Text or markup in the prev/next buttons. */
                controlsText?: [String, String],
                /** Default: `true`. Controls the display and functionalities of `nav` components (dots). If `true`,
                 * display the `nav` and add all functionalities. */
                nav?: Boolean,
                /** Default: `false`. Toggles the automatic change of slides. */
                autoplay?: Boolean,
                /** Default: `false`. Stops sliding on mouseover. */
                autoplayHoverPause?: Boolean,
                /** Default: `true`. Pauses the sliding when the page is invisible
                 * and resumes it when the page become visiable again. */
                autoplayResetOnVisibility?: Boolean,
                /** Default: `["start", "stop"]`. Text or markup in the autoplay start/stop button. */
                autoplayText?: [String, String],
                /** Default: `5000`. Time between 2 `autoplay` slides change (in "ms"). */
                autoplayTimeout?: Number,
                /** Default: `true`. Activates input detection for touch devices. */
                touch?: Boolean,
                /** Default: `false`. Changing slides by dragging them. */
                mouseDrag?: Boolean,
                /** Default: `false`. Allows using arrow keys to switch slides. */
                arrowKeys?: Boolean,
                /** Default: `false`. Disable carousel. */
                disable?: Boolean
            }
        } | false,
        /** Default: `false`. Enables lazyloading images that are currently not viewed, thus saving bandwidth.
         * Class `.tns-lazy-img` need to be set on every image you want to lazyload if option `lazyloadSelector` is not specified;
         * `data-src` attribute with its value of the real image `src` is required;
         * `width` attribute for every image is required for `autoWidth` carousel. */
        lazyload?: boolean,
        /** Default: `".tns-lazy-img"`. The CSS selector for lazyload images. */
        lazyloadSelector?: string,
        /** Default: `true`. Activates input detection for touch devices. */
        touch?: boolean,
        /** Default: `false`. Changing slides by dragging them. */
        mouseDrag?: boolean,
        /** Default: `15`. Swipe or drag will not be triggered if the angle is not inside the range. */
        swipeAngle?: number | boolean,
        /** Default: `false`. Prevent next transition while carousel is transforming. */
        preventActionWhenRunning?: boolean,
        /** Default: `false`. Prevent page from scrolling on touchmove.
         * If set to "auto", the carousel will first check if the touch direction matches the carousel axis, then decide whether
         * prevent the page scrolling or not. If set to "force", the carousel will always prevent the page scrolling. */
        preventScrollOnTouch?: 'auto' | 'force' | false,
        /** Default: `false`. Define the relationship between nested carousels.
         * Make sure you run the inner carousel first, otherwise the height of the inner carousel container will be wrong. */
        nested?: 'inner' | 'outer' | false,
        /** Default: `true`. Indicate whether the carousel will be frozen
         * (controls, nav, autoplay and other functions will stop work) when all slides can be displayed in one page. */
        freezable?: boolean,
        /** Default: `false`. Disable carousel. */
        disable?: boolean,
        /** Default: `0`. The initial `index` of the carousel. */
        startIndex?: number,
        /** Default: `false`. Callback to be run on initialization. */
        onInit?: {
            /** Callback function params in format {paramName: paramValue, ... } */
            params?: Object,
            /** Callback function */
            callback: Function
        } | false,
        /** Default: `true`. Save browser capability variables to localStorage
         * and without detecting them everytime the carousel runs if set to true. */
        useLocalStorage?: boolean,
        /** Default: `false`. Optional Nonce attribute for inline style tag to allow carousel usage
         * without `unsafe-inline Content Security Policy source. */
        nonce?: string | false
    }
}
const { options } = Astro.props
const onInit = evalFunction.init(options.onInit)

---

<div class="tns">
    <div class="d-none"
        data-astronic-tns="true"
        data-astronic-tns-id={options.id}
        data-astronic-tns-mode={JSON.stringify(options.mode)}
        data-astronic-tns-axis={JSON.stringify(options.axis)}
        data-astronic-tns-items={JSON.stringify(options.items)}
        data-astronic-tns-gutter={JSON.stringify(options.gutter)}
        data-astronic-tns-edge-padding={JSON.stringify(options.edgePadding)}
        data-astronic-tns-fixed-width={JSON.stringify(options.fixedWidth)}
        data-astronic-tns-auto-width={JSON.stringify(options.autoWidth)}
        data-astronic-tns-viewport-max={JSON.stringify(options.viewportMax)}
        data-astronic-tns-slide-by={JSON.stringify(options.slideBy)}
        data-astronic-tns-center={JSON.stringify(options.center)}
        data-astronic-tns-controls={JSON.stringify(options.controls)}
        data-astronic-tns-controls-position={JSON.stringify(options.controlsPosition)}
        data-astronic-tns-controls-text={JSON.stringify(options.controlsText)}
        data-astronic-tns-controls-container={JSON.stringify(options.controlsContainer)}
        data-astronic-tns-prev-button={JSON.stringify(options.prevButton)}
        data-astronic-tns-next-button={JSON.stringify(options.nextButton)}
        data-astronic-tns-nav={JSON.stringify(options.nav)}
        data-astronic-tns-nav-position={JSON.stringify(options.navPosition)}
        data-astronic-tns-nav-container={JSON.stringify(options.navContainer)}
        data-astronic-tns-nav-as-thumbnails={JSON.stringify(options.navAsThumbnails)}
        data-astronic-tns-arrow-keys={JSON.stringify(options.arrowKeys)}
        data-astronic-tns-speed={JSON.stringify(options.speed)}
        data-astronic-tns-autoplay={JSON.stringify(options.autoplay)}
        data-astronic-tns-autoplay-position={JSON.stringify(options.autoplayPosition)}
        data-astronic-tns-autoplay-timeout={JSON.stringify(options.autoplayTimeout)}
        data-astronic-tns-autoplay-direction={JSON.stringify(options.autoplayDirection)}
        data-astronic-tns-autoplay-text={JSON.stringify(options.autoplayText)}
        data-astronic-tns-autoplay-hover-pause={JSON.stringify(options.autoplayHoverPause)}
        data-astronic-tns-autoplay-button={JSON.stringify(options.autoplayButton)}
        data-astronic-tns-autoplay-button-output={JSON.stringify(options.autoplayButtonOutput)}
        data-astronic-tns-autoplay-reset-on-visibility={JSON.stringify(options.autoplayResetOnVisibility)}
        data-astronic-tns-animate-in={JSON.stringify(options.animateIn)}
        data-astronic-tns-animate-out={JSON.stringify(options.animateOut)}
        data-astronic-tns-animate-normal={JSON.stringify(options.animateNormal)}
        data-astronic-tns-animate-delay={JSON.stringify(options.animateDelay)}
        data-astronic-tns-loop={JSON.stringify(options.loop)}
        data-astronic-tns-rewind={JSON.stringify(options.rewind)}
        data-astronic-tns-auto-height={JSON.stringify(options.autoHeight)}
        data-astronic-tns-responsive={JSON.stringify(options.responsive)}
        data-astronic-tns-lazyload={JSON.stringify(options.lazyload)}
        data-astronic-tns-lazyload-selector={JSON.stringify(options.lazyloadSelector)}
        data-astronic-tns-touch={JSON.stringify(options.touch)}
        data-astronic-tns-mouse-drag={JSON.stringify(options.mouseDrag)}
        data-astronic-tns-swipe-angle={JSON.stringify(options.swipeAngle)}
        data-astronic-tns-prevent-action-when-running={JSON.stringify(options.preventActionWhenRunning)}
        data-astronic-tns-prevent-scroll-on-touch={JSON.stringify(options.preventScrollOnTouch)}
        data-astronic-tns-nested={JSON.stringify(options.nested)}
        data-astronic-tns-freezable={JSON.stringify(options.freezable)}
        data-astronic-tns-disable={JSON.stringify(options.disable)}
        data-astronic-tns-start-index={JSON.stringify(options.startIndex)}
        data-astronic-tns-on-init={onInit}
        data-astronic-tns-use-local-storage={JSON.stringify(options.useLocalStorage)}
        data-astronic-tns-nonce={JSON.stringify(options.nonce)}
    >
        <slot/>
    </div>
</div>
<script>
    import tns from '../plugins/tns'
    import evalFunction from '../wizards/evalFunction'
    import Astronic from '../Astronic'
    const tnsList = {}
    document.querySelectorAll('[data-astronic-tns="true"]').forEach((element) => {
        const params = {
            mode: JSON.parse(element.getAttribute('data-astronic-tns-mode')),
            axis: JSON.parse(element.getAttribute('data-astronic-tns-axis')),
            items: JSON.parse(element.getAttribute('data-astronic-tns-items')),
            gutter: JSON.parse(element.getAttribute('data-astronic-tns-gutter')),
            edgePadding: JSON.parse(element.getAttribute('data-astronic-tns-edge-padding')),
            fixedWidth: JSON.parse(element.getAttribute('data-astronic-tns-fixed-width')),
            autoWidth: JSON.parse(element.getAttribute('data-astronic-tns-auto-width')),
            viewportMax: JSON.parse(element.getAttribute('data-astronic-tns-viewport-max')),
            slideBy: JSON.parse(element.getAttribute('data-astronic-tns-slide-by')),
            center: JSON.parse(element.getAttribute('data-astronic-tns-center')),
            controls: JSON.parse(element.getAttribute('data-astronic-tns-controls')),
            controlsPosition: JSON.parse(element.getAttribute('data-astronic-tns-controls-position')),
            controlsText: JSON.parse(element.getAttribute('data-astronic-tns-controls-text')),
            controlsContainer: JSON.parse(element.getAttribute('data-astronic-tns-controls-container')),
            prevButton: JSON.parse(element.getAttribute('data-astronic-tns-prev-button')),
            nextButton: JSON.parse(element.getAttribute('data-astronic-tns-next-button')),
            nav: JSON.parse(element.getAttribute('data-astronic-tns-nav')),
            navPosition: JSON.parse(element.getAttribute('data-astronic-tns-nav-position')),
            navContainer: JSON.parse(element.getAttribute('data-astronic-tns-nav-container')),
            navAsThumbnails: JSON.parse(element.getAttribute('data-astronic-tns-nav-as-thumbnailsr')),
            arrowKeys: JSON.parse(element.getAttribute('data-astronic-tns-arrow-keys')),
            speed: JSON.parse(element.getAttribute('data-astronic-tns-speed')),
            autoplay: JSON.parse(element.getAttribute('data-astronic-tns-autoplay')),
            autoplayPosition: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-position')),
            autoplayTimeout: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-timeout')),
            autoplayDirection: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-direction')),
            autoplayText: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-text')),
            autoplayHoverPause: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-hover-pause')),
            autoplayButton: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-button')),
            autoplayButtonOutput: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-button-output')),
            autoplayResetOnVisibility: JSON.parse(element.getAttribute('data-astronic-tns-autoplay-reset-on-visibility')),
            animateIn: JSON.parse(element.getAttribute('data-astronic-tns-animate-in')),
            animateOut: JSON.parse(element.getAttribute('data-astronic-tns-animate-out')),
            animateNormal: JSON.parse(element.getAttribute('data-astronic-tns-animate-normal')),
            animateDelay: JSON.parse(element.getAttribute('data-astronic-tns-animate-delay')),
            loop: JSON.parse(element.getAttribute('data-astronic-tns-loop')),
            rewind: JSON.parse(element.getAttribute('data-astronic-tns-rewind')),
            autoHeight: JSON.parse(element.getAttribute('data-astronic-tns-auto-height')),
            responsive: JSON.parse(element.getAttribute('data-astronic-tns-responsive')),
            lazyload: JSON.parse(element.getAttribute('data-astronic-tns-lazyload')),
            lazyloadSelector: JSON.parse(element.getAttribute('data-astronic-tns-lazyload-selector')),
            touch: JSON.parse(element.getAttribute('data-astronic-tns-touch')),
            mouseDrag: JSON.parse(element.getAttribute('data-astronic-tns-mouse-drag')),
            swipeAngle: JSON.parse(element.getAttribute('data-astronic-tns-swipe-angle')),
            preventActionWhenRunning: JSON.parse(element.getAttribute('data-astronic-tns-prevent-action-when-running')),
            preventScrollOnTouch: JSON.parse(element.getAttribute('data-astronic-tns-prevent-scroll-on-touch')),
            nested: JSON.parse(element.getAttribute('data-astronic-tns-nested')),
            freezable: JSON.parse(element.getAttribute('data-astronic-tns-freezable')),
            disable: JSON.parse(element.getAttribute('data-astronic-tns-disable')),
            startIndex: JSON.parse(element.getAttribute('data-astronic-tns-start-index')),
            onInit: element.getAttribute('data-astronic-tns-on-init'),
            useLocalStorage: JSON.parse(element.getAttribute('data-astronic-tns-use-local-storage')),
            nonce: JSON.parse(element.getAttribute('data-astronic-tns-nonce'))
        }
        const carousel = tns({
            container: element,
            mode: (params.mode !== null) ? (params.mode) : ('carousel'),
            axis: (params.axis !== null) ? (params.axis) : ('horizontal'),
            items: (params.items !== null) ? (params.items) : (1),
            gutter: (params.gutter !== null) ? (params.gutter) : (0),
            edgePadding: (params.edgePadding !== null) ? (params.edgePadding) : (0),
            fixedWidth: (params.fixedWidth !== null) ? (params.fixedWidth) : (false),
            autoWidth: (params.autoWidth !== null) ? (params.autoWidth) : (false),
            viewportMax: (params.viewportMax !== null) ? (params.viewportMax) : (false),
            slideBy: (params.slideBy !== null) ? (params.slideBy) : (1),
            center: (params.center !== null) ? (params.center) : (false),
            controls: (params.controls !== null) ? (params.controls) : (true),
            controlsPosition: (params.controlsPosition !== null) ? (params.controlsPosition) : ('top'),
            controlsText: (params.controlsText !== null) ? (params.controlsText) : (['prev', 'next']),
            controlsContainer: (params.controlsContainer !== null) ? (params.controlsContainer) : (false),
            prevButton: (params.prevButton !== null) ? (params.prevButton) : (false),
            nextButton: (params.nextButton !== null) ? (params.nextButton) : (false),
            nav: (params.nav !== null) ? (params.nav) : (true),
            navPosition: (params.navPosition !== null) ? (params.navPosition) : ('top'),
            navContainer: (params.navContainer !== null) ? (params.navContainer) : (false),
            navAsThumbnails: (params.navAsThumbnails !== null) ? (params.navAsThumbnails) : (false),
            arrowKeys: (params.arrowKeys !== null) ? (params.arrowKeys) : (false),
            speed: (params.speed !== null) ? (params.speed) : (300),
            autoplay: (params.autoplay !== null) ? (params.autoplay) : (false),
            autoplayPosition: (params.autoplayPosition !== null) ? (params.autoplayPosition) : ('top'),
            autoplayTimeout: (params.autoplayTimeout !== null) ? (params.autoplayTimeout) : (5000),
            autoplayDirection: (params.autoplayDirection !== null) ? (params.autoplayDirection) : ('forward'),
            autoplayText: (params.autoplayText !== null) ? (params.autoplayText) : (['start', 'stop']),
            autoplayHoverPause: (params.autoplayHoverPause !== null) ? (params.autoplayHoverPause) : (false),
            autoplayButton: (params.autoplayButton !== null) ? (params.autoplayButton) : (false),
            autoplayButtonOutput: (params.autoplayButtonOutput !== null) ? (params.autoplayButtonOutput) : (true),
            autoplayResetOnVisibility: (params.autoplayResetOnVisibility !== null) ? (params.autoplayResetOnVisibility) : (true),
            animateIn: (params.animateIn !== null) ? (params.animateIn) : ('tns-fadeIn'),
            animateOut: (params.animateOut !== null) ? (params.animateOut) : ('tns-fadeOut'),
            animateNormal: (params.animateNormal !== null) ? (params.animateNormal) : ('tns-normal'),
            animateDelay: (params.animateDelay !== null) ? (params.animateDelay) : (false),
            loop: (params.loop !== null) ? (params.loop) : (true),
            rewind: (params.rewind !== null) ? (params.rewind) : (false),
            autoHeight: (params.autoHeight !== null) ? (params.autoHeight) : (false),
            responsive: (params.responsive !== null) ? (params.responsive) : (false),
            lazyload: (params.lazyload !== null) ? (params.lazyload) : (false),
            lazyloadSelector: (params.lazyloadSelector !== null) ? (params.lazyloadSelector) : ('.tns-lazy-img'),
            touch: (params.touch !== null) ? (params.touch) : (true),
            mouseDrag: (params.mouseDrag !== null) ? (params.mouseDrag) : (false),
            swipeAngle: (params.swipeAngle !== null) ? (params.swipeAngle) : (15),
            preventActionWhenRunning: (params.preventActionWhenRunning !== null) ? (params.preventActionWhenRunning) : (false),
            preventScrollOnTouch: (params.preventScrollOnTouch !== null) ? (params.preventScrollOnTouch) : (false),
            nested: (params.nested !== null) ? (params.nested) : (false),
            freezable: (params.freezable !== null) ? (params.freezable) : (true),
            disable: (params.disable !== null) ? (params.disable) : (false),
            startIndex: (params.startIndex !== null) ? (params.startIndex) : (0),
            onInit: (params.onInit !== null) ? ((params.onInit === 'false') ? (false) : (evalFunction.run(element, 'data-astronic-tns-on-init'))) : (false),
            useLocalStorage: (params.useLocalStorage !== null) ? (params.useLocalStorage) : (true),
            nonce: (params.nonce !== null) ? (params.nonce) : (false)
        })
        tnsList[element.getAttribute('data-astronic-tns-id')] = carousel
        element.removeAttribute('data-astronic-tns-on-init')
        element.className = element.className.replace('d-none', 'd-flex')
    })
    Astronic.Carousel = {
        version: function () { return tnsList[0].version() },
        getInfo: function (id) { return tnsList[id].getInfo() },
        callEvent: function (id, name, callback) { return tnsList[id].events.on(name, callback) },
        removeEvent: function (id, name, callback) { return tnsList[id].events.off(name, callback) },
        goTo: function (id, slide) { return tnsList[id].goTo(slide) },
        play: function (id) { return tnsList[id].play() },
        pause: function (id) { return tnsList[id].pause() },
        updateSliderHeight: function (id) { return tnsList[id].updateSliderHeight() },
        destroy: function (id) { return tnsList[id].destroy() },
        rebuild: function (id) { return tnsList[id].rebuild() }
    }
</script>
<style is:global>
    .tns .tns-item { opacity: 1!important; }
</style>
